* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f5ab1e;
  --secondary-color: #333333;
  --white-color: #fff;
  --black-color: #000;
  --white-100: #f8f9fa;
  --gray-color: gray;
  --blue: #539DE4;
	--pink: #d5436e;
  --yellow: #e7bd19;
  --NunitoSans: 'Nunito Sans 10pt';
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-45: 45px;
  --fs-50: 50px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --padding-left: 12px;
  --padding-right: 12px;
}
* {
  outline: none;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
}
.row {
  display: flex;
	flex-wrap: wrap;
	margin-left: calc(1 * var(--padding-left));
	margin-right: calc(1 * var(--padding-right));
}
body {
  font-family: var(--NunitoSans);
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
a:link {
  text-decoration: none;
}
ul {
  list-style: none;
}
* p{
  color: #AAB3C5BF;
}

.w-1 {
  width: 8.33%;
}
.w-2 {
  width: 16.66%;
}
.w-3 {
  width: 25%;
}
.w-4 {
  width: 33.33%;
}
.w-5 {
  width: 41.66%;
}
.w-6 {
  width: 50%;
}
.w-7 {
  width: 58.33%;
}
.w-8 {
  width: 66.66%;
}
.w-9 {
  width: 75%;
}
.w-10 {
  width: 83.33%;
}
.w-11 {
  width: 91.66%;
}
.w-12 {
  width: 100%;
}

.sidebar .logo {
  background-color: #1a1e2b;
}
.sidebar .logo img {
  height: 68px;
  width: 200px;
  object-fit: cover;
}

/* header start */

.mein-2{
  height: 100vh;
  overflow: auto;
  background-color: #252A37;
}

header {
  background-color: #212631;
  padding: 10px;
}
header .icon img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
header .icon a i {
  color: white;
  padding: 16px;
  font-size: 20px;
}
header .icon a {
  position: relative;
}
header .icon span {
  background-color: #e44272;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  right: 15%;
}
header .icon a:nth-child(4) {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}
header .icon a:nth-child(3) {
  margin-right: 30px;
}
header .icon a img {
  margin: 0 15px;
}
header .search {
  background-color: #323a49;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
header .search i {
  color: #7f899a;
  font-size: var(--fs-18);
  margin-right: 5px;
}
header input {
  background-color: transparent;
  color: white;
  border: 0;
  padding: 8px;
}
header .search input::placeholder {
  color: #7f899a;
  font-size: var(--fs-18);
}
/* header end */

/* menu start */

.mein-1{
  height: 100vh;
  overflow: auto;
  background-color: #212631;
}
.sidebar .menu {
  width: 100%;
  height: auto;
  background-color: #212631;
  padding: 16px;
}
.sidebar .components span{
  color: #aaadb0;
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  padding-left: 16px;
}
.sidebar .menu ul li a {
  color: #aaadb0;
  font-size: 16px;
}
.sidebar .menu ul li a p{
  padding-left: 10px;
}
.sidebar .menu ul li a i {
  padding-right: 12px;
}
.sidebar .menu ul li span {
  padding: 3px;
  margin-right: 5px;
  background-color: rgb(63, 170, 232);
  border-radius: 25%;
  color: wheat;
  font-size: var(--fs-14);
  text-align: center;
}
.sidebar .menu-1 {
  width: 100%;
  height: auto;
  background-color: #212631;
  padding: 16px;
}
.sidebar .menu-1 ul li a {
  color: #aaadb0;
  font-size: 16px;
  padding-left: 10px;
}
.sidebar .menu-1 ul li a h4{
  padding-left: 0px;
}
.sidebar .menu-1 ul li a i {
  padding-right: 24px;
}
.sidebar .menu-1 ul li span {
  padding: 3px;
  margin-right: 5px;
  background-color: rgb(63, 170, 232);
  border-radius: 25%;
  color: wheat;
  font-size: var(--fs-14);
  text-align: center;
}

.sidebar .menu-2 {
  width: 100%;
  height: auto;
  background-color: #212631;
  padding: 16px;
}
.sidebar .menu-2 ul li a {
  color: #aaadb0;
  font-size: 16px;
  padding-left: 10px;
}
.sidebar .menu-2 ul li a h4{
  padding-left: 0px;
}
.sidebar .menu-2 ul li a i {
  padding-right: 20px;
}
.sidebar .menu-2 ul li span {
  padding: 3px;
  width: 36px;
  margin-right: 5px;
  background-color: #e44272;
  border-radius: 24%;
  color: var(--white-color);
  font-size: var(--fs-14);
  text-align: center;
}

/* menu end */

.cpu {
	color: #FFFFFF99;
	font-size: var(--fs-13);
	padding-top: 10px;
}


.line-1,.line-2,.line-3,.line-4 {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: var(--gray-color);
	margin: 5px 0;
	border-radius: 5px;
}

.line-1::after {
	position: absolute;
	content: '';
	width: 25%;
	height: 4px;
	border-radius: 5px;
	background-color: #7c81ea;
}

.line-2::after {
	position: absolute;
	content: '';
	width: 75%;
	height: 4px;
	border-radius: 5px;
	background-color: #f2c40d;
}

.line-3::after {
	position: absolute;
	content: '';
	width: 90%;
	height: 4px;
	border-radius: 5px;
	background-color: #e44272;
}

.line-4::after {
	position: absolute;
	content: '';
	width: 40%;
	height: 4px;
	border-radius: 5px;
	background-color: #5cc18b;
}

/* accordion start */

.accordion {
  width: 100%;
  padding-left: 24px;
}

.accordion ul {
  background: #1a1e27;
  margin: 0;
  padding: 0;
}

.accordion .pagenav {
  position: relative;
  margin-bottom: 10px;
  list-style: none;
  align-items: center;
}

.accordion .pagenav a {
  text-decoration: none;
  color: #aaadb0;
  padding-left: 28px;
}

.accordion .pagenav ul {
  display: none;
  padding: 15px;
  margin: 0;
}

.accordion .pagenav li {
  margin-bottom: 3px;
  list-style: none;
}

.accordion .pagenav h4 {
  text-transform: capitalize;
  padding: 12px;
  background: #212631;
  margin: 0;
  cursor: pointer;
}

.accordion .pagenav h4 i {
  position: absolute;
  right: 30px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  color: #aaadb0;
}

.accordion .pagenav.open h4 i {
  transform: rotate(90deg);
}

.accordion a:hover,
.accordion .pagenav li.current_page_item a {
  text-decoration: underline;
}

.accordion .pagenav i.puzzle{
  left: 0;
  font-size: 20px;
  transform: rotateX(0deg) !important;
}

/* accordion end */

/* section-1 start */

.chart-wrapper{
  margin-top: 20px;
}
.Dashboard{
	padding: 25px;
}
.Dashboard h1, h4{
  color: #aab3c5;
}
.Sale{
	padding: 26px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	background-color: #212631;
	border-radius: 5px;
}
.Sale h3{
  color: #aab3d2;
  font-size: var(--fs-22);
  line-height: 30px;

}
.Sale h3 p{
	font-size: var(--fs-14);
	color: #6d767e;
}
.Sale span{
	font-size: var(--fs-20);
	color: #4799eb;
	font-weight: 700;
}

.Traffic{
	padding: 18px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	background-color: #212631;
	border-radius: 5px;
  margin: 0 18px;
}
.Traffic h3{
  color: #aab3d2;
  font-size: var(--fs-22);
  line-height: 30px;
}
.Traffic h3 p{
	font-size: var(--fs-14);
	color: #6d767e;
} 

/* Customers start */
.Customers{
  border: 1px solid rgba(255, 255, 255, 0.15);
	background-color: #212631;
	border-radius: 5px;
  padding: 16px;
  margin-top: 28px;
  margin-right: 14px;
}
.Customers .custom{
  color: #6d767e;
}
.Customers .custom span{
  background-color: #2b4260;
  padding: 10px;
  border-radius: 0.375rem;
}
.Customers .custom span i{
  color: #4799EB;
}
.Customers h2{
  color: #aab3d2;
  font-size: var(--fs-26);
  line-height: 40px;
}
.Customers p{
  color: #e44272;
  font-size: var(--fs-14);
  padding-top: 18px;
}

/* Orders start */
.Orders{
  border: 1px solid rgba(255, 255, 255, 0.15);
	background-color: #212631;
	border-radius: 5px;
  padding: 16px;
  margin-top: 28px;
  margin-left: 14px;
}
.Orders .custom{
  color: #6d767e;
}
.Orders .custom span{
  background-color: #2b4260;
  padding: 10px;
  border-radius: 0.375rem;
}
.Orders .custom span i{
  color: #4799EB;
}
.Orders h2{
  color: #aab3d2;
  font-size: var(--fs-26);
  line-height: 40px;
}
.Orders p{
  color: #5CC18B;
  font-size: var(--fs-14);
  padding-top: 18px;
}

/* section-1 end */

/* section-2 start */

.user-table{
	padding: 20px;
	border: 1px solid grey;
	background-color: #212631;
	border-radius: 5px;
	margin-top: 30px;
}
.user-t{
 padding-bottom: 26px;
}
.user-t h2{
  color: #AAB3C5;
	font-weight: var(--fw-600);
}
.user-t p{
	font-weight: 100;
}
.user-t button{
	width: 130px;
	height: 40px;
	border-radius: 8px;
	background-color: grey;
}
.user-t button:hover{
	color:white;
	background-color:teal;
	border: none;
}
.user-ct-1{
	margin: 10px;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
  color: #AAB3C5;
  font-weight: var(--fw-600);
}
.user-content{
	padding: 10px 0 10px 0;
}
.br{
	border-bottom: 1px solid grey;
}
.user-content .first img{
	border-radius: 50%;
	width: 45px;
}
.user-content p{
	font-weight: 100;
	font-size: 10px;
}
.user-content h4{
	font-size: 14px;
}
.user-content .theard img{
	width: 30px;
}

.user-content .theard{
  text-align: center;
}
.user-content .Fourth{
  justify-content: start;
}

/* user-chart start */

.user-chart{
	background-color: var(--blue);
	color: #fff;
}
.user-ch{
	background-color: var(--yellow);
}
.user-chs{
	background-color: var(--pink);
}

.traffic , .user-chart{
  width: 300px;
	padding: 20px;
	border: 1px solid grey;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 12px;
}

/* traffic-two start */

.t-2-main{
	padding: 20px;
	border: 1px solid grey;
	background-color: #212631;
	border-radius: 5px;
	margin: 30px;
}
.traffic-table-title {
	padding-bottom: 20px;
	border-bottom: 1px solid grey;
}
.traffic-table-title h2{
  color: #AAB3C5;
}
.traffic-table-title span{
  color: #AAB3C580;
}
.new-client{
	padding: 10px 0 10px 0;
}
.new-client span{
	color: #AAB3C5BF;
}
.new-client h3{
	color: #AAB3C5;
}
.new-1{
	border-left: 4px solid var(--blue);
	padding-left: 10px;
}
.new-2{
	border-left: 4px solid var(--pink);
	padding-left: 10px;
}
.new-3{
	border-left: 4px solid yellow;
	padding-left: 10px;
}
.new-4{
	border-left: 4px solid green;
	padding: 10px 250px 10px 10px;
}
.pd .days{
	padding: 10px;
  color: #AAB3C580;
} 
.prograss-group .progress{
	padding: 8px;
}
.prograss-group .progress span{
  color: #AAB3C5;
}
.prograss-group .progress i{
	font-size: 20px;
}
.line1, .line2, .line01,
 .line02, .line03, .line04, .line05, .line06, .line07,
  .line08, .line09, .line010, .line011, .line012,
   .line013, .line014, .line3, .line11, .line12,
    .line13, .line14, .line15, .line16{
	width: 100%;
	height: 5px;
	background-color: grey;
	position: relative;
	margin: 10px 0;
	border-radius: 5px;
}
.line01::after{
	position: absolute;
	content: '';
	width: 25%;
	height: 5px;
	top: 0;
	background-color: var(--blue);
	border-radius: 5px;
}
.line02::after{
	position: absolute;
	content: '';
	width: 80%;
	height: 5px;
	top: 0;
	background-color:var(--pink);
	border-radius: 5px;
}
.line03::after{
	position: absolute;
	content: '';
	width: 60%;
	height: 5px;
	top: 0;
	background-color:var(--blue);
	border-radius: 5px;
}
.line04::after{
	position: absolute;
	content: '';
	width: 92%;
	height: 5px;
	top: 0;
	background-color:var(--pink);
	border-radius: 5px;
}
.line05::after{
	position: absolute;
	content: '';
	width: 15%;
	height: 5px;
	top: 0;
	background-color:var(--blue);
	border-radius: 5px;
}
.line06::after{
	position: absolute;
	content: '';
	width: 75%;
	height: 5px;
	top: 0;
	background-color:var(--pink);
	border-radius: 5px;
}
.line07::after{
	position: absolute;
	content: '';
	width: 40%;
	height: 5px;
	top: 0;
	background-color:var(--blue);
	border-radius: 5px;
}
.line08::after{
	position: absolute;
	content: '';
	width: 95%;
	height: 5px;
	top: 0;
	background-color:var(--pink);
	border-radius: 5px;
}
.line09::after{
	position: absolute;
	content: '';
	width: 20%;
	height: 5px;
	top: 0;
	background-color:var(--blue);
	border-radius: 5px;
}
.line010::after{
	position: absolute;
	content: '';
	width: 80%;
	height: 5px;
	top: 0;
	background-color:var(--pink);
	border-radius: 5px;
}
.line011::after{
	position: absolute;
	content: '';
	width: 60%;
	height: 5px;
	top: 0;
	background-color:var(--blue);
	border-radius: 5px;
}
.line012::after{
	position: absolute;
	content: '';
	width: 87%;
	height: 5px;
	top: 0;
	background-color:var(--pink);
	border-radius: 5px;
}
.line013::after{
	position: absolute;
	content: '';
	width: 10%;
	height: 5px;
	top: 0;
	background-color:var(--blue);
	border-radius: 5px;
}
.line014::after{
	position: absolute;
	content: '';
	width: 70%;
	height: 5px;
	top: 0;
	background-color:var(--pink);
	border-radius: 5px;
}
.line1::after{
	position: absolute;
	content: '';
	width: 30%;
	height: 5px;
	top: 0;
	background-color: var(--blue);
	border-radius: 5px;
}
.line2::after{
	position: absolute;
	content: '';
	width: 80%;
	height: 5px;
	top: 0;
	background-color: var(--pink);
	border-radius: 5px;

}
.line11::after{
	position: absolute;
	content: '';
	width: 43%;
	height: 5px;
	top: 0;
	background-color: yellow;
	border-radius: 5px;
}
.line12::after{
	position: absolute;
	content: '';
	width: 37%;
	height: 5px;
	top: 0;
	background-color: yellow;
	border-radius: 5px;
}
.line13::after{
	position: absolute;
	content: '';
	width: 56%;
	height: 5px;
	top: 0;
	background-color:green;
	border-radius: 5px;
}
.line14::after{
	position: absolute;
	content: '';
	width: 15%;
	height: 5px;
	top: 0;
	background-color:green;
	border-radius: 5px;
}
.line15::after{
	position: absolute;
	content: '';
	width: 11%;
	height: 5px;
	top: 0;
	background-color:green;
	border-radius: 5px;
}
.line16::after{
	position: absolute;
	content: '';
	width: 8%;
	height: 5px;
	top: 0;
	background-color:green;
	border-radius: 5px;
}
.pd{
	padding: 0 5px;
}
/* traffic-two end */