
@media (max-width:575px){

    .education{
        width: 100%!important;
    }
    .price{
        width: 100% !important;
    }
}
@media (min-width:576px){
    .education{
        width: 100%!important;
    }
    .price{
        width: 100% !important;
    }
}
@media (min-width:768px){
    .education{
        width: 25% !important;
    }
    .price{
        width: 33.33% !important;
    }
}
@media (min-width:992px){
    
}
@media (min-width:1199px){
   
}